* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
Usamos una variable para ajustar la altura del shape divider.

Las unidades deben ser relativas al ancho del visor para que se mantenga la forma del shape divider. En las diagonales mantiene la misma pendiente y en la elipse el arco.
*/
:root{
	--heightDivider: 20vw;
}

div{
	padding: 2rem 0.5rem;
}

h1, p:not(:last-child) {
	margin-bottom: 1rem;
}




 /*
 Usamos padding en lugar de margin para que haya continuidad en el color del fondo.
 Si usaramos margin se vería el color del body que ahora mismo es blanco.
 */
.shape-divider {
	position: relative;

	&:not(:first-child){
		padding-top: var(--heightDivider);
	}
	
	&:nth-child(odd) {
		background-color: hsl(158, 94%, 35%);
	}
	
	&:nth-child(even) {
		background-color: hsl(197, 100%, 70%);
	}

/*
Hacemos position: absolute para situar el pseudoelemento.

El último elemento no debe tener forma divisoria así que 
hacemos :not(:last-child) para que desaparezca.

IMPORTANTE poner z-index: 1 para que sea visible el divisor.
*/
	&:not(:last-child)::after {
		content: '';
		position: absolute;
		width: 100%;
		height: var(--heightDivider);
		z-index: 1;
	}

/*
Hacemos shape divider diferente en pares e impares.
*/
	&:nth-child(odd)::after {
		clip-path: polygon(0 0, 100% 0, 0 100%);
		background-color: hsl(158, 94%, 35%);
	}

	&:nth-child(even)::after {
		clip-path: polygon(0 0, 100% 0, 100% 100%);
		background-color: hsl(197, 100%, 70%);
	}

/*
Podemos hacer un shape divider diferente para una sección concreta.
clip-path: ellipse(ancho alto at posX posY) respecto de la caja contenedora.
*/
	&:nth-child(4)::after {
		clip-path: ellipse(50% var(--heightDivider) at 50% 0%); // 
	}
	
}